@import 'variables'
@import 'palette'

*
  margin: 0
  padding: 0

.view-wrapper
  width: 100%
  position: absolute
  top: $nav-height

nav
  top: 0
  left: 0
  width: 100%
  height: $nav-height
  position: absolute
  background-color: red
  &>ul>li>a
    color: white
